/* Sidebar */
#sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #212529;
    color: #fff;
    transition: margin-left 0.3s;
    z-index: 1000;
}

/* Sidebar hidden */
#wrapper.active #sidebar {
    margin-left: 250px;
}

/* Content area */
#content {/*  width of sidebar */
    transition: margin-left 0.3s;
}

/* Adjust when sidebar hidden */
#wrapper.active #content {
    margin-left: 250px;
    
}

/* Sidebar active link */
#sidebar ul li.active {
    background: #343a40; /* darken */
}

#sidebar ul li.active a {
    color: #fff;
    font-weight: 600;
}

/* Optional hover */
#sidebar ul li:hover {
    background: #495057;
}

